{:kotoba.app/id "cloud.itonami.isic-2030", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifm7ccu2nxi7to7rnwipyvw6wx7c7zlldyepmnr25bwx3ar2sgeeq", :kotoba.app/embed-url "ipfs://bafkreifm7ccu2nxi7to7rnwipyvw6wx7c7zlldyepmnr25bwx3ar2sgeeq", :published {:archive "https://kotobase.net/ipfs/bafkreifm7ccu2nxi7to7rnwipyvw6wx7c7zlldyepmnr25bwx3ar2sgeeq", :size 73162, :put-status 201, :get-status 200, :at "2026-08-15T13:39:47.292Z"}}
